<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Completed Assessments{% endblock %}

{% block content %}
<h1 class="text-nowrap">Completed Assessments</h1>
<br>
{% if assessments %}
    {% for assessment in assessments %}
        <h5> <b>Module:</b> {{ assessment.module_code }}</h5>
        <h6> <b>Assessment:</b> {{ assessment.title }}</h6>
        <p>  <b>Due:</b> {{ assessment.deadline }}</p>
        <p>{{ assessment.description }}</p>

        <div class="btn-group" role="group" aria-label="Button group with spacing">
            <a href="{{ url_for('edit', id=assessment.id) }}" class="btn btn-primary btn-sm">Edit</a>&nbsp;
            <a href="{{ url_for('toggle_complete', id=assessment.id) }}" class="btn btn-warning btn-sm text-nowrap">Mark as INCOMPLETE</a>&nbsp;
            <a href="{{ url_for('delete_assessment', id=assessment.id) }}" class="btn btn-danger btn-sm ">Delete</a>
        </div>
        <br>
        <br>
        <br>
    {% endfor %}

{% else %}
<p>No assessments completed</p>
{% endif %}
{% endblock %}