<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Create Assessment{% endblock %}

{% block content %}
    <h1 class="text-nowrap">Create New Assessment</h1>
    <form action="" method="post" name="Create">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(class_='form-control title-input ', size=32, required=True) }}
            {% for error in form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    [{{ error }}]
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.module_code.label }}<br>
            {{ form.module_code(class_='form-control module-code-input', size=32, required=True, pattern="^[A-Z]{4}\d{4}$", placeholder="ABCD1234") }}
            {% for error in form.module_code.errors %}
                <div class="alert alert-danger" role="alert">
                    [{{ error }}]
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(class_='form-control', rows=4, cols=50, required=True) }}
            {% for error in form.description.errors %}
                <div class="alert alert-danger" role="alert">
                    [{{ error }}]
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.deadline.label }}<br>
            {{ form.deadline(class_='form-control deadline-input', required=True, placeholder="YYYY-MM-DD") }}
            {% for error in form.deadline.errors %}
                <div class="alert alert-danger" role="alert">
                    [{{ error }}]
                </div>
            {% endfor %}

        </p>
        <p><input type="submit" class="btn btn-primary" value="Create"></p>
    </form>
{% endblock %}