/* Navbar styling */
.navbar {
    background-color: #343a40;
}

.navbar-brand, .nav-link {
    color: #ffffff !important;
}

.nav-link:hover, .nav-link:focus {
    background-color: #495057;
    color: #ffffff !important;
    outline: 2px solid #ffffff;
    outline-offset: 2px;
}

/* Dropdown menu styling */
.dropdown-menu {
    background-color: #343a40;
    color: #ffffff;
}

.dropdown-item {
    color: #ffffff;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #495057;
    color: #ffffff;
    outline: 2px solid #ffffff;
    outline-offset: 2px;
}

/* Add hover effect to buttons */
.btn {
    transition: background-color 0.3s ease, color 0.3s ease;
}


/* Change Width for Input Fields */

.text

-input {
    max-width: 300px;
}

/* Ensure text stays on one line */
.no-wrap {
    white-space: nowrap;
}

/* Alert styling */

.alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.alert-warning {
    background-color: #fff3cd;
    color: #856404;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}